<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error!</title>
    <link
      rel="shortcut icon"
      href="https://res.cloudinary.com/dvhwz7ptr/image/upload/f_auto,q_auto/qubw0db5njuheicndqst"
      type="image/x-icon"
    />
</head>
<body > 
    <p>
        You found it, Yay!!
    </p>
   The route '<%= url %>' does not exist
</body>
</html>