<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MLSC</title>
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/home.css" />
    <link rel="stylesheet" href="../styles/cursor.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link
      rel="shortcut icon"
      href="../assets/images/mlsc_logo.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script
      type="module"
      src="https://unpkg.com/@splinetool/viewer@1.7.0/build/spline-viewer.js"
    ></script>
    <script>
      window.onload = function () {
        var shadowRoot = document.querySelector("spline-viewer").shadowRoot;
        shadowRoot.querySelector("#logo").remove();
      };
    </script>
  </head>
  <body>
    <div id="circle"></div>
    <div id="spline-container">
      <nav class="navbar">
        <ul class="navbar-menu">
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/event">Events</a></li>
          <li><a href="/form">Forms</a></li>
        </ul>
      </nav>
      <spline-viewer
        loading-anim-type="spinner-small-light"
        url="https://prod.spline.design/j9hK2tR8NoYP955v/scene.splinecode"
      ></spline-viewer>
    </div>
  <script src="../scripts/cursor.js"></script>
  </body>
</html>
