<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This is the official website for MLSC Derabassi">
    <title>MLSC</title>

    <meta property="og:title" content="MLSC DB">
    <meta property="og:description" content="This is the official website for MLSC Derabassi">
    <meta property="og:image" content="https://res.cloudinary.com/dvhwz7ptr/image/upload/Screenshot_2024-07-20_150034_xwmnhx.png">
    <meta property="og:url" content="https://mlsc.tech">
    <meta property="og:type" content="website">

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link rel="stylesheet" href="../styles/loader.css" />
    <link rel="stylesheet" href="../styles/home.css" />
    <link rel="stylesheet" href="../styles/cursor.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/event.css" />
    <link rel="stylesheet" href="../styles/forms.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="shortcut icon"
      href="https://res.cloudinary.com/dvhwz7ptr/image/upload/f_auto,q_auto/qubw0db5njuheicndqst"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <script
      type="module"
      src="https://unpkg.com/@splinetool/viewer@1.7.6/build/spline-viewer.js"
    ></script>
    <script
      type="module"
      src="https://unpkg.com/@splinetool/viewer@1.7.6/build/spline-viewer.js"
    ></script>
    <script>
      const lightBlue = "\x1b[94m";
      const reset = "\x1b[0m";

      var asciiArt = `
    ███╗   ███╗██╗     ███████╗ ██████╗ 
    ████╗ ████║██║     ██╔════╝██╔════╝ 
    ██╔████╔██║██║     ███████╗██║     
    ██║╚██╔╝██║██║     ╚════██║██║     
    ██║ ╚═╝ ██║███████╗███████║╚██████╗
    ╚═╝     ╚═╝╚══════╝╚══════╝ ╚═════╝
    `;

      function customConsoleLog(message, style) {
        console.log(`%c${message}`, style);
      }

      function disableConsoleMethods() {
        console.log = function () {};
        console.warn = function () {};
        console.error = function () {};
      }

      function logMessages() {
        customConsoleLog(
          "You finally entered the console😈!",
          "color: red; font-size: 20px; font-weight: bold; text-shadow: 2px 2px 0px rgba(0,0,0,0.3);"
        );

        customConsoleLog(
          asciiArt,
          "color: rgb(31, 146, 146); font-size: 14px;"
        );

        customConsoleLog(
          "Have a great day!",
          "color: green; font-size: 18px; font-style: italic; background-color: yellow; padding: 2px 4px;"
        );
      }

      setInterval(logMessages, 5000);
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const splineContainer = document.getElementById("spline-container");
        const splineUrl =
          "https://prod.spline.design/j9hK2tR8NoYP955v/scene.splinecode";
        const dbName = "splineDB";
        const storeName = "splineStore";

        function initDB() {
          return new Promise((resolve, reject) => {
            const request = indexedDB.open(dbName, 1);

            request.onupgradeneeded = (event) => {
              const db = event.target.result;
              db.createObjectStore(storeName);
            };

            request.onsuccess = (event) => {
              resolve(event.target.result);
            };

            request.onerror = (event) => {
              reject(event.target.error);
            };
          });
        }

        async function fetchAndCacheResource(url) {
          const response = await fetch(url);
          const data = await response.blob();
          const db = await initDB();
          const transaction = db.transaction(storeName, "readwrite");
          const store = transaction.objectStore(storeName);
          store.put(data, url);
          return data;
        }

        async function getCachedResource(url) {
          const db = await initDB();
          return new Promise((resolve, reject) => {
            const transaction = db.transaction(storeName, "readonly");
            const store = transaction.objectStore(storeName);
            const request = store.get(url);

            request.onsuccess = (event) => {
              if (event.target.result) {
                resolve(event.target.result);
              } else {
                fetchAndCacheResource(url).then(resolve).catch(reject);
              }
            };

            request.onerror = (event) => {
              reject(event.target.error);
            };
          });
        }

        const observer = new IntersectionObserver(
          async function (entries) {
            entries.forEach(async (entry) => {
              if (entry.isIntersecting) {
                if (!document.querySelector("spline-viewer")) {
                  const splineViewer = document.createElement("spline-viewer");
                  splineViewer.setAttribute(
                    "loading-anim-type",
                    "spinner-small-light"
                  );
                  const cachedBlob = await getCachedResource(splineUrl);
                  const splineBlobUrl = URL.createObjectURL(cachedBlob);
                  splineViewer.setAttribute("url", splineBlobUrl);
                  splineContainer.appendChild(splineViewer);
                }
              } else {
                const splineViewer = document.querySelector("spline-viewer");
                if (splineViewer) {
                  splineContainer.removeChild(splineViewer);
                }
              }
            });
          },
          { threshold: 0.5 }
        );

        observer.observe(splineContainer);

        const config = { childList: true, subtree: true };
        const callback = function (mutationsList, observer) {
          for (const mutation of mutationsList) {
            if (mutation.type === "childList") {
              mutation.addedNodes.forEach((node) => {
                if (node.tagName === "SPLINE-VIEWER") {
                  const interval = setInterval(() => {
                    const shadowRoot = node.shadowRoot;
                    const logo = shadowRoot.querySelector("#logo");
                    if (logo) {
                      logo.remove();
                      clearInterval(interval);
                    }
                  }, 10);
                }
              });
            }
          }
        };

        const mutationObserver = new MutationObserver(callback);
        mutationObserver.observe(document.body, config);
      });
    </script>
  </head>
  <body>
    <div id="loader">
      <h2>Imagine</h2>
      <h2>Innovate</h2>
      <h2>Inspire</h2>
    </div>
    <div id="circle"></div>
    <div id="spline-container">
      <video
        src="../assets/videos/back.mp4"
        autoplay
        muted
        loop
        poster="https://res.cloudinary.com/dvhwz7ptr/image/upload/v1721125698/Screenshot_2024-07-16_155739_kutayr.png"
        preload="auto"
      ></video>
      <nav class="navbar">
        <div class="hamburger" id="hamburger">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
        <div id="nav-part2">
          <h4><a href="/" id="home-link" class="active">Home</a></h4>
          <h4><a href="#events" id="events-link">Events</a></h4>
          <h4><a href="#main" id="team-link">Team</a></h4>
          <h4><a href="#form" id="form-link">Forms</a></h4>
        </div>
      </nav>
    </div>
    <div id="home">
      <div id="infinite-text">
        <div class="con">
          <h1>IMAGINE</h1>
          <div id="gola"></div>
          <h1>INNOVATE</h1>
          <div id="gola"></div>
          <h1>INSPIRE</h1>
          <div id="gola"></div>
        </div>
        <div class="con">
          <h1>IMAGINE</h1>
          <div id="gola"></div>
          <h1>INNOVATE</h1>
          <div id="gola"></div>
          <h1>INSPIRE</h1>
          <div id="gola"></div>
        </div>
        <div class="con">
          <h1>IMAGINE</h1>
          <div id="gola"></div>
          <h1>INNOVATE</h1>
          <div id="gola"></div>
          <h1>INSPIRE</h1>
          <div id="gola"></div>
        </div>
      </div>
    </div>
    <div id="page4">
      <div class="heading">
        <div class="dot"></div>
        <p class="intro">What is Microsoft Learn Student Chapter?</p>
      </div>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="https://res.cloudinary.com/dvhwz7ptr/image/upload/f_auto,q_auto/b2rzo1l9ae6ijxjamsji"
              alt="logo"
            />
            <p>
              The Microsoft Learn Student Chapter in Derabassi is a dynamic tech
              club dedicated to providing hands-on experience in various
              technological domains. Our main goal is to expose students to the
              tech world and inspire them to create unique solutions.
            </p>
          </div>
          <div class="swiper-slide">
            <img
              src="https://res.cloudinary.com/dvhwz7ptr/image/upload/f_auto,q_auto/jg8fygt1hajen4wnbfd1"
              alt="logo"
              width="40px"
              style="opacity: 0.65"
            />
            <p>
              Our team is exceptional, encompassing expertise in tech, design,
              and management. We offer a wide range of skills to students,
              including web development, app development, game development,
              DevOps, cybersecurity, AI/ML, and AR.
            </p>
          </div>
          <div class="swiper-slide">
            <img
              src="https://res.cloudinary.com/dvhwz7ptr/image/upload/f_auto,q_auto/bxvvf4gjorcb2sqcstxz"
              alt="logo"
              width="40px"
              style="opacity: 0.65"
            />
            <p>
              In addition to tech, we focus on creative fields like UI/UX
              design, Blender, Spline, and audio, video, and photo editing. This
              holistic approach ensures students gain a well-rounded skill set.
            </p>
          </div>
          <div class="swiper-slide">
            <img
              src="https://res.cloudinary.com/dvhwz7ptr/image/upload/f_auto,q_auto/u1v3leobrvcwssshxonq"
              alt="logo"
              width="40px"
              style="opacity: 0.65"
            />
            <p>
              Our management team is commendable, always ready to oversee the
              club's operations and ensure smooth functioning. They play a
              crucial role in organizing events and managing the society
              efficiently.
            </p>
          </div>
          <div class="swiper-slide">
            <img
              src="https://res.cloudinary.com/dvhwz7ptr/image/upload/f_auto,q_auto/h18etzd1nno7asqaju5m"
              alt="logo"
              width="40px"
              style="opacity: 0.65"
            />
            <p>
              Through our activities and programs, we aim to motivate students
              to explore the tech world and achieve excellence in their chosen
              fields. Join us to embark on an exciting journey of learning and
              innovation.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="events">
      <div class="heading">
        <div class="dot"></div>
        <p class="intro">Past tech events organised by Team MLSC</p>
      </div>
      <div id="aboutprojects">
        <div id="projects">
          <div id="projectitles">
            <button id="firstbutton" onclick="swapFirst()">DeltΔ</button>
            <button id="secondbutton" onclick="swapSecond()">A$tellar</button>
            <button id="thirdbutton" onclick="swapThird()">GΔming</button>
          </div>
          <div id="projectinfo">
            <p>
              Delta, a three-day flagship event, featured a Cryptic Hunt on day
              1, a Treasure Hunt on day 2, and a Gaming Night on day 3, offering
              participants a blend of challenging puzzles, adventurous quests,
              and competitive gaming.
            </p>
          </div>
        </div>
        <div id="projectimg"></div>
      </div>
    </div>
    <div id="main">
      <div id="top">
        <h1 id="top-h1">TEAM'27</h1>
      </div>
      <div id="center">
        <div class="content">
          <h3>
            <b><i>MLSC '27</i></b> the team that brew <i>code</i> and craft new
            ideas.
          </h3>
        </div>
      </div>
      <div id="bottom">
        <h1 id="bottom-h1">TEAM'27</h1>
      </div>
    </div>
    <div id="white">
      <div class="part-2">
        <div class="rounded-div-wrapper">
          <div class="rounded-div"></div>
        </div>
        <div class="content-2">
          <div class="text-area">
            <h1>This is your chance to</h1>
            <br />
            <h2>get captured by MLSC.</h2>
          </div>
          <div class="text-area-hover">
            <h1>This is your chance to</h1>
            <br />
            <h2>get captured by MLSC.</h2>
          </div>
        </div>
      </div>
      <div id="forms">
        <div id="container">
          <form action="/form" method="post">
            <div style="padding-bottom: 3px">
              <input
                type="text"
                class="inputbox"
                id="name"
                name="name"
                placeholder="Name*"
                required
              />
              <input
                type="email"
                id="email"
                class="inputbox"
                name="email"
                placeholder="Email*"
                required
              />
            </div>
            <div style="padding-bottom: 3px">
              <input
                type="text"
                id="phoneNumber"
                name="phoneNumber"
                class="inputbox"
                placeholder="Phone Number*"
                required
              />
              <select
                id="department"
                name="department"
                class="dropdown"
                required
              >
                <option value="Tech">Tech</option>
                <option value="Design">Design</option>
                <option value="Management">Management</option>
              </select>
            </div>

            <div>
              <input
                type="text"
                id="ques2"
                name="futureVision"
                class="inputbox"
                placeholder="where do you see yourself in next 4 years?*"
                required
              />

              <input
                type="text"
                id="ques3"
                name="projectLinks"
                class="inputbox"
                placeholder="Paste your projects link if any"
                required
              />
            </div>
            <input
              type="text"
              id="ques1"
              name="videoGame"
              class="inputbox"
              placeholder="If you were a character in a video game, what would be your special ability and why?*"
              required
            />
            <input
              type="submit"
              value="Submit"
              class="button"
              style="margin: 5px"
            />
            <div class="flash"></div>
          </form>
        </div>
      </div>
    </div>
    <div id="page5"></div>
    <div id="footer">
      <h1>
        <br /><b><i>This is MLSC</i></b>
      </h1>
      <div id="footer-bottom">
        <div id="bottom-links">
          <div>Copyright &copy MLSC</div>
          <div>
            Made with ⁠❥ by team <b><i>MLSC'27</i></b>
          </div>
          <div id="socials">
            <div><a href="https://www.instagram.com/mlsc_db/">Instagram</a></div>
            <div><a href="https://www.linkedin.com/company/microsoft-learn-student-chapter-tiet/about/">LinkedIn</a></div>
          </div>
        </div>
      </div>
    </div>
    <script src="../scripts/navbar.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"
      integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"
      integrity="sha512-AMl4wfwAmDM1lsQvVBBRHYENn1FR8cfOTpt8QVbb/P55mYOdahHD4LmHM1W55pNe3j/3od8ELzPf/8eNkkjISQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const urlParams = new URLSearchParams(window.location.search);
        const flashMessage = urlParams.get("flash");
        console.log(flashMessage);

        if (flashMessage) {
          const flashMessageDiv = document.querySelector(".flash");
          flashMessageDiv.textContent = flashMessage;

          document
            .getElementById("forms")
            .scrollIntoView({ behavior: "smooth" });

          setTimeout(function () {
            history.replaceState({}, document.title, "/");
          }, 6500);
        }
      });
    </script>
    <script src="../scripts/team.js"></script>
    <script src="../scripts/loader.js"></script>
    <script src="../scripts/swiper.js"></script>
    <script src="../scripts/cursor.js"></script>
    <script src="../scripts/events.js"></script>
    <script src="../scripts/forms.js"></script>
  </body>
</html>
