<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MLSC</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/loader.css" />
    <link rel="stylesheet" href="../styles/home.css" />
    <link rel="stylesheet" href="../styles/cursor.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/event.css" />
    <link rel="stylesheet" href="../styles/forms.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="shortcut icon"
      href="../assets/images/favicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <script
      type="module"
      src="https://unpkg.com/@splinetool/viewer@1.7.0/build/spline-viewer.js"
    ></script>
    <script>
      window.onload = function () {
        var shadowRoot = document.querySelector("spline-viewer").shadowRoot;
        shadowRoot.querySelector("#logo").remove();
      };
    </script>
  </head>
  <body>
    <div id="loader">
      <h2>Imagine</h2>
      <h2>Innovate</h2>
      <h2>Inspire</h2>
    </div>
    <div id="circle"></div>
    <div id="spline-container">
      <nav class="navbar">
        <div id="nav-part2">
          <h4><a href="/" id="home-link" class="active">Home</a></h4>
          <h4><a href="#events" id="events-link">Events</a></h4>
          <h4><a href="#main" id="team-link">Team</a></h4>
          <h4><a href="#form" id="form-link">Forms</a></h4>
        </div>
      </nav>
      <spline-viewer
        loading-anim-type="spinner-small-light"
        url="https://prod.spline.design/j9hK2tR8NoYP955v/scene.splinecode"
      ></spline-viewer>
    </div>
    <div id="home">
      <div id="infinite-text">
        <div class="con">
          <h1>IMAGINE</h1>
          <div id="gola"></div>
          <h1>INNOVATE</h1>
          <div id="gola"></div>
          <h1>INSPIRE</h1>
          <div id="gola"></div>
        </div>
        <div class="con">
          <h1>IMAGINE</h1>
          <div id="gola"></div>
          <h1>INNOVATE</h1>
          <div id="gola"></div>
          <h1>INSPIRE</h1>
          <div id="gola"></div>
        </div>
        <div class="con">
          <h1>IMAGINE</h1>
          <div id="gola"></div>
          <h1>INNOVATE</h1>
          <div id="gola"></div>
          <h1>INSPIRE</h1>
          <div id="gola"></div>
        </div>
      </div>
    </div>
    <div id="page4">
      <div class="heading">
        <div class="dot"></div>
        <p class="intro">What is Microsoft Learn Student Chapter?</p>
      </div>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="../assets/images/question.png"
              alt="logo"
              width="40px"
              style="opacity: 0.65"
            />
            <p>
              The Microsoft Learn Student Chapter in Derabassi is a dynamic tech
              club dedicated to providing hands-on experience in various
              technological domains. Our main goal is to expose students to the
              tech world and inspire them to create unique solutions.
            </p>
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/embed.png"
              alt="logo"
              width="40px"
              style="opacity: 0.65"
            />
            <p>
              Our team is exceptional, encompassing expertise in tech, design,
              and management. We offer a wide range of skills to students,
              including web development, app development, game development,
              DevOps, cybersecurity, AI/ML, and AR.
            </p>
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/ux.png"
              alt="logo"
              width="40px"
              style="opacity: 0.65"
            />
            <p>
              In addition to tech, we focus on creative fields like UI/UX
              design, Blender, Spline, and audio, video, and photo editing. This
              holistic approach ensures students gain a well-rounded skill set.
            </p>
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/muscle.png"
              alt="logo"
              width="40px"
              style="opacity: 0.65"
            />
            <p>
              Our management team is commendable, always ready to oversee the
              club's operations and ensure smooth functioning. They play a
              crucial role in organizing events and managing the society
              efficiently.
            </p>
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/graph.png"
              alt="logo"
              width="40px"
              style="opacity: 0.65"
            />
            <p>
              Through our activities and programs, we aim to motivate students
              to explore the tech world and achieve excellence in their chosen
              fields. Join us to embark on an exciting journey of learning and
              innovation.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="events">
      <div class="heading">
        <div class="dot"></div>
        <p class="intro">Past tech events organised by Team MLSC</p>
      </div>
      <div id="aboutprojects">
        <div id="projects">
          <div id="projectitles">
            <button id="firstbutton" onclick="swapFirst()">DeltΔ</button>
            <button id="secondbutton" onclick="swapSecond()">A$tellar</button>
            <button id="thirdbutton" onclick="swapThird()">TBA</button>
          </div>
          <div id="projectinfo">
            <p>
              Delta, a three-day flagship event, featured a Cryptic Hunt on day
              1, a Treasure Hunt on day 2, and a Gaming Night on day 3, offering
              participants a blend of challenging puzzles, adventurous quests,
              and competitive gaming.
            </p>
          </div>
        </div>
        <div id="projectimg"></div>
      </div>
    </div>
    <div id="main" style="margin-top: 70px">
      <div id="top">
        <h1 id="top-h1">TEAM'27</h1>
      </div>
      <div id="center">
        <div class="content">
          <h3>
            <b><i>MLSC '27</i></b> the team that brew <i>code</i> and craft new
            ideas.
          </h3>
        </div>
      </div>
      <div id="bottom">
        <h1 id="bottom-h1">TEAM'27</h1>
      </div>
    </div>
    <div id="white">
      <div class="part-2">
        <div class="rounded-div-wrapper">
          <div class="rounded-div"></div>
        </div>
        <div class="content-2">
          <div class="text-area">
            <h1>This is your chance to</h1>
            <br />
            <h2>get captured by MLSC.</h2>
          </div>
          <div class="text-area-hover">
            <h1>This is your chance to</h1>
            <br />
            <h2>get captured by MLSC.</h2>
          </div>
        </div>
      </div>

      <div id="forms">
        <div id="container">
          <form action="/form" method="post">
            <div style="padding-bottom: 3px">
              <input
                type="text"
                class="inputbox"
                id="name"
                name="name"
                style="width: 250px"
                placeholder="Name*"
                required
              />
              <input
                type="email"
                id="email"
                class="inputbox"
                name="email"
                style="width: 350px"
                placeholder="Email*"
                required
              />
            </div>
            <div style="padding-bottom: 3px">
              <input
                type="text"
                id="phoneNumber"
                style="width: 200px"
                name="phoneNumber"
                class="inputbox"
                placeholder="Phone Number*"
                required
              />
              <select
                id="department"
                name="department"
                class="dropdown"
                required
              >
                <option value="Tech">Tech</option>
                <option value="Design">Design</option>
                <option value="Management">Management</option>
              </select>
            </div>
            <!-- <input
              type="text"
              id="ques1"
              style="width: 450px"
              name="ques1"
              class="inputbox"
              placeholder="Random question one to be asked?*"
              required
            />Removed this right now as it was interfering with the schema, will add this later after the questions and the schema will be decided -->
            <input
              type="submit"
              value="Submit"
              class="button"
              style="margin: 5px"
            />
            <div class="flash"></div>
          </form>
        </div>
      </div>
    </div>

    <footer>
      <div id="footer">
        <p>Made with ❤️ by team MLSC '27</p>
      </div>
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"
      integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"
      integrity="sha512-AMl4wfwAmDM1lsQvVBBRHYENn1FR8cfOTpt8QVbb/P55mYOdahHD4LmHM1W55pNe3j/3od8ELzPf/8eNkkjISQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        const flashMessage = urlParams.get('flash');
        console.log(flashMessage)
  
        if (flashMessage) {
          const flashMessageDiv = document.querySelector('.flash');
          flashMessageDiv.textContent = flashMessage;
  
          // Scroll to the form div
          document.getElementById('forms').scrollIntoView({ behavior: 'smooth' });
  
          setTimeout(function () {
            history.replaceState({}, document.title, "/");
          }, 6500);
          
  
        }
      });
    </script>
    <script src="../scripts/team.js"></script>
    <script src="../scripts/loader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../scripts/swiper.js"></script>
    <script src="../scripts/cursor.js"></script>
    <script src="../scripts/events.js"></script>
    <script src="../scripts/forms.js"></script>
  </body>
</html>
