#aboutprojects {
  background-color: #151515;
  padding: 0 auto;
  width: 95vw;
  height: 37vw;
  border-radius: 2vw;
  display: flex;
  position: relative;
  justify-content: space-between;
}

#projects {
  display: flex;
  flex-direction: column;
  width: 45vw;
  padding: 7vw;
  align-items: center;
  justify-content: center;
  position: relative;
}

#projectitles {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  justify-content: end;
  padding: 2vw;
}

#projectitles button {
  width: 35vw;
  text-align: left;
  padding: 0 3vw;
  background: transparent;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.1vw;
  font-size: 4vw;
  transition: all 0.1s linear;
}

#firstbutton {
  border: none;
  color: white;
  border-radius: 2px;
  border-left:rgb(31, 146, 146) solid 4px;
}
#secondbutton,
#thirdbutton {
  border: none;
  margin: 0 0.1vw;
  border-left: rgba(92, 92, 92, 0.736) solid 3px;
  color: rgba(92, 92, 92, 0.736);
}

#projectinfo {
  font-size: 1.3vw;
  color: white;
  height: 40vh;
  width: 100%;
  display: flex;
  padding: 2vw;
  text-align: justify;
  align-items: top;
  justify-content: center;
  font-size: 13px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#projectimg {
  border-radius: 2vw;
  background-image: url("https://res.cloudinary.com/dvhwz7ptr/image/upload/f_auto,q_auto/jklg3dpf6y8otrqygk2h");
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  width: 55vw;
}

@media (max-width: 768px) {
  #aboutprojects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
  }
  #projects {
    padding: 4vw;
    height: 40vh;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #projectitles {
    font-weight: 600;
    font-size: 30px;
  }
  #projectitles button {
    font-size: 30px;
  }
  #projectinfo {
    font-size: 13px;
  }

  #projectimg{
    width: 100%;
    height: 55vh;
  }
}

@media (max-width: 480px) {
  #aboutprojects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
  }
  #projects {
    padding: 4vw;
    height: 40vh;
    width: 100%;
  }
  #projectitles {
    font-weight: 600;
    font-size: 30px;
  }
  #projectitles button {
    font-size: 30px;
  }
  #projectinfo {
    font-size: 13px;
  }

  #projectimg{
    width: 100%;
    height: 55vh;
  }
}

#events {
  width: 100%;
  padding: 4vw 2vw;
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #0b0b0b;
}
