#forms {
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 100vw;
  background-color: white;
  height: 60vh;
  top: 50%;
  left: 50%; 
  padding: 30px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  padding: 20px;
}

.inputbox,
.dropdown,
.button {
  padding: 10px;
  border: 2px solid #00000086;
  border-radius: 14px;
  color: black;
  box-sizing: border-box;
  margin: 5px;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

.button {
  background-color: white;
  transition: background-color 0.3s, color 0.3s;
}

.inputbox::placeholder {
  color: black; 
}

.dropdown {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJ3aGl0ZSIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSIwIDAgMTEgOCIgd2lkdGg9IjEwIj4gPHBhdGggZD0iTTEuNSAwbDQuNSA0LjVsNC41LTQuNUgxMEw1IDVsLTUgNWgtMS41ek0wLTNoMTJsLTYuNS02LjV6Ii8+PC9zdmc+"); /* Custom arrow icon */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 12px;
}

.dropdown option {
  background: rgba(0, 0, 0, 0.9); 
  color: #fff; 
  padding: 10px; 
}

.dropdown option:hover,
.dropdown option:focus {
  background: rgba(255, 255, 255, 0.3); 
  color: #000; 
}

.button:hover {
  background: rgba(0, 0, 0); 
  color: #fff; 
}

.flash {
  color: rgb(0, 0, 0);
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 13px;
}