* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b0b0b;
  overflow-x: hidden;
  scrollbar-width: none;

}

body::-webkit-scrollbar {
  display: none;
}

nav {
  position: absolute;
  top: 1.5vw;
  left: 50%;
  transform: translateX(-50%);
  padding: 1vw 2vw;
  width: 40%;
  height: 50px;
  max-width: 1200px;
  background: rgba(150, 150, 150, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 25px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

#nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #a6a6a6;
}

#nav-part2 h4 {
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 500;
  color: #ffffffbb;
  transition: all ease 0.4s;
  position: relative;
  font-size: 18px;
  overflow: hidden;
}

#nav-part2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.741);
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

#nav-part2 h4 a {
  color: #ffffffbb;
  text-decoration: none;
  position: relative;
  z-index: 9;
}

#nav-part2 h4:hover a {
  color: black;
}

nav h3 {
  display: none;
}

@media (max-width: 768px) {
  nav {
    width: 90%;
  }

  #nav-part2 {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  nav {
    width: 95%;
  }
}