<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submitted</title>
</head>
<body>
   <h1> This is what you submitted - </h1>
    <h1>Name - <%= response.name %></h1>
    <h1>Mobile No.- <%= response.phoneNumber %></h1>
   <h1> email - <%= response.email %></h1>
   <h1> Department - <%= response.department %></h1>
</body>
</html>